In [25]:
import json, requests
import numpy as np
import pandas as pd

In [26]:
API_KEY = 'JRLUCAS'

In [50]:
def get_price_history(symbol):
    API_URL = r'https://api.tdameritrade.com/v1/marketdata/{}/pricehistory'.format(symbol)
    params = {
        'apikey': API_KEY,
        'periodType': 'year',
        'period': 1,
        'frequencyType': 'daily',
        'frequency': 1,
        'needExtendedHoursData': 'false'
    }
    
    content = requests.get(url=(API_URL),params=params).text
    
    data = json.loads(content)
    return data

In [54]:
x = get_price_history('VEA')['candles']

In [55]:
df = pd.DataFrame.from_dict(x)

In [57]:
df.head()

   close       datetime   high      low   open    volume
0  44.70  1528088400000  44.89  44.6700  44.84   6324907
1  44.65  1528174800000  44.72  44.5200  44.71  14417255
2  45.03  1528261200000  45.04  44.7300  44.81   5836690
3  44.77  1528347600000  45.08  44.7000  45.08   7712962
4  44.85  1528434000000  44.90  44.6348  44.78   7188889

In [58]:
etf_list = ['VTI','VEA', 'VWO', 'VNQ', 'XLE', 'BND', 'SCHP', 'VTEB', 'VIG']