In [1]:
import json, requests
import os
import numpy as np
import pandas as pd

In [2]:
API_KEY = 'JRLUCAS'

In [6]:
def get_price_history(symbols):
    candle_list = []
    df_dict = {}
    for symbol in symbols:
        API_URL = r'https://api.tdameritrade.com/v1/marketdata/{}/pricehistory'.format(symbol)
        params = {
            'apikey': API_KEY,
            'periodType': 'year',
            'period': 2,
            'frequencyType': 'daily',
            'frequency': 1,
            'needExtendedHoursData': 'false'
        }

        content = requests.get(url=(API_URL),params=params).text

        data = json.loads(content)
        candle_list.append(data)
        for i in candle_list:
            df = pd.DataFrame.from_dict(i['candles'])
            pickle_name = symbol
            pickle_path = os.path.join(os.path.join(os.path.dirname(os.getcwd()), 'data', pickle_name + '.pickle'))
            df.to_pickle(pickle_path)
    return df

In [7]:
etf_list = ['VTI','VEA', 'VWO', 'VNQ', 'XLE', 'BND', 'SCHP', 'VTEB', 'VIG']
etf_list2 = ['AAPL','CSCO','IBM','AMZN']

In [8]:
get_price_history(etf_list2)

       close       datetime       high        low       open    volume
0    1003.00  1496725200000  1016.5000  1001.2500  1012.0000   3346432
1    1010.07  1496811600000  1010.2490  1002.0000  1005.9500   2823041
2    1010.27  1496898000000  1013.6100  1006.1100  1012.0600   2767857
3     978.31  1496984400000  1012.9900   927.0000  1012.5000   7647692
4     964.91  1497243600000   975.9500   945.0000   967.0000   9447233
5     980.79  1497330000000   984.5000   966.1000   977.9900   4580011
6     976.47  1497416400000   990.3400   966.7100   988.5900   3974900
7     964.17  1497502800000   965.7300   950.8600   958.7000   5373865
8     987.71  1497589200000   999.7500   982.0000   996.0000  11472662
9     995.17  1497848400000  1017.0000   989.9000  1017.0000   5043408
10    992.59  1497934800000  1004.8800   992.0200   998.0000   4076828
11   1002.23  1498021200000  1002.7200   992.6518   998.7000   2922473
12   1001.30  1498107600000  1006.9599   997.2000  1002.2300   2253433
13   1003.74  1498194000000  1004.6200   998.0200  1002.5400   2879145
14    993.98  1498453200000  1009.8000   992.0000  1008.5000   3386157
15    976.78  1498539600000   998.8000   976.0000   990.6900   3782389
16    990.33  1498626000000   990.6800   969.2100   978.5500   3737567
17    975.93  1498712400000   987.5600   965.2500   979.0000   4302968
18    968.00  1498798800000   983.4700   967.6100   980.1200   3390345
19    953.66  1499058000000   972.7900   953.6600   972.7900   2909108
20    971.40  1499230800000   975.0000   955.2500   961.5300   3652955
21    965.14  1499317200000   974.4000   959.0200   964.6600   3259613
22    978.76  1499403600000   980.1100   969.1400   969.5500   2643387
23    996.47  1499662800000   999.4392   983.5000   985.0000   3546268
24    994.13  1499749200000   995.9900   983.7200   993.0000   2982726
25   1006.51  1499835600000  1008.5500   998.1000  1000.6500   3608574
26   1000.63  1499922000000  1006.8800   995.9000  1004.6200   2880769
27   1001.81  1500008400000  1004.4500   996.8900  1002.4000   2102469
28   1010.04  1500267600000  1014.7500  1003.8100  1004.6900   3712587
29   1024.45  1500354000000  1026.0300  1004.0000  1006.0000   4007624
..       ...            ...        ...        ...        ...       ...
474  1902.25  1556168400000  1922.4500  1900.3100  1917.0035   6099101
475  1950.63  1556254800000  1951.0000  1898.0000  1929.0000   8432563
476  1938.43  1556514000000  1956.3350  1934.0900  1949.0000   4021255
477  1926.52  1556600400000  1935.7100  1906.9500  1930.1000   3506007
478  1911.52  1556686800000  1943.6400  1910.5500  1933.0900   3116964
479  1900.82  1556773200000  1921.5500  1881.8700  1913.3300   3962915
480  1962.46  1556859600000  1964.4000  1936.0000  1949.0000   6381564
481  1950.55  1557118800000  1959.0000  1910.5000  1917.9800   5417841
482  1921.00  1557205200000  1949.1005  1903.3795  1939.9900   5902134
483  1917.77  1557291600000  1935.3700  1910.0000  1918.8700   4078568
484  1899.87  1557378000000  1909.4000  1876.0000  1900.0000   5308263
485  1889.98  1557464400000  1903.7900  1856.0000  1898.0000   5717994
486  1822.68  1557723600000  1846.5350  1818.0000  1836.5600   5783410
487  1840.12  1557810000000  1852.4400  1815.7500  1839.5000   4629107
488  1871.15  1557896400000  1874.4270  1823.0000  1827.9500   4692642
489  1907.57  1557982800000  1917.5100  1882.2900  1885.9400   4707822
490  1869.00  1558069200000  1910.5300  1867.3300  1893.0500   4736618
491  1858.97  1558328400000  1867.7800  1835.5400  1852.6900   3798198
492  1857.52  1558414800000  1879.0000  1846.0000  1874.7900   4005122
493  1859.68  1558501200000  1871.4850  1851.0000  1851.7800   2936601
494  1815.48  1558587600000  1844.0000  1804.2000  1836.5900   4424265
495  1823.28  1558674000000  1841.7600  1817.8510  1835.8900   3369673
496  1836.43  1559019600000  1849.2669  1827.3500  1832.7500   3199965
497  1819.19  1559106000000  1830.0000  1807.5327  1823.1200   4279025
498  1816.32  1559192400000  1829.4700  1807.8250  1825.4900   3146850
499  1775.07  1559278800000  1795.5850  1772.7034  1790.0100   4618819
500  1692.69  1559538000000  1766.2900  1672.0000  1760.0100   9098708
501  1729.56  1559624400000  1730.8200  1680.8900  1699.2400   5679121
502  1738.50  1559710800000  1752.0000  1715.2514  1749.6000   4239782
503  1754.36  1559797200000  1760.0000  1726.1300  1737.7100   3689272

[504 rows x 6 columns]